section {
    border: 2px solid #000;
    padding: 2em;
    position: relative;
}

div.item {
    Border: 1px solid #333;
    Padding: 0.5em;
    Width: 5em;
    Height: 5em;
}

section.section-relative div.item:nth-child(2) {
    position: relative;
    left: 5em;
    top: 2em;
    background: lightgreen;
}

section.section-absolute div.item:nth-child(2) {
    position: absolute;
    left: 4em;
    top: 4em;
    background: lightgreen;
}