@media (max-width: 600px) {
    header nav {
        flex-direction: column;
        gap: 1em;
    }

    .header-title {
        padding: 0.5em 0;
    }

    .header-title h1 {
        font-size: 3.4em;
        padding-bottom: 0.3em;
    }
    
    .our-dogs-wrapper ul li{
        width: calc(50% - 2rem);
        margin-bottom: 2rem;
    }

    .our-dogs ul li img {
        width: 100%;
        height: 100%;
    }

    .helpNeed ul{
        display: flex;
        flex-direction: column;
    }

}