* {
    padding: 0;
    margin: 0;
}

body {
    padding: 2em;
    margin: 0 auto;
    font: 14px/1.5 'Lato', sans-serif;
}
.main {
    border: 1px solid #d8d8d8;
    max-width: 900px;
    margin: 0 auto;
}

.heading-one, .heading-two, .heading-three {
    padding: 1em 1.2em;
}

.main .heading-two, .main .heading-three {
    border-top: 1px solid #d8d8d8;
}

details summary{
    font-weight: bold;
    display: block;
    cursor: pointer;
}

details summary:before {
    display: inline-block;
    content: '>';
    margin-right: 0.5em;
}

details[open] summary:before {
    content: '^';
    transform: rotate(180deg);
}
details :not(summary) {
    padding: 0.75em 0;
    font-weight: 500;
}