* {
    margin: 0;
    padding: 0;
}

body {
    padding: 2em;
}

h1 + h2 {
    padding-top: 1em;
}

.flex-container {
    display: flex;
    border: 2px solid blue;
    width: 400px;
    padding: 1em;
    margin: 1em 0;
}

.flex-item {
    background-color: #eee;
    padding: 20px;
    border: 2px solid #000;
}

.flex-container.flex-basis-5em .flex-item {
    flex-basis: 5em;
}

.flex-container.flex-shrink-zero .flex-item {
    flex-shrink: 0;
}

.flex-container.flex-grow-one {
    width: 900px;
}

.flex-container.flex-grow-one .flex-item {
    flex-grow: 1;
}