* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 4em 2em;
    font: 14px/1.5 Lato, sans-serif;
    background-color: #eee;
}

.site {
    display: flex;
    flex-direction: column;
    gap: 2em;
    max-width: 1200px;
}

.site .first-table, .site .second-table table {
    background-color: white;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
    border-radius: 0.3em;
}

table {
    border-spacing: 0; /* this removes the lines between columns*/
    width: 100%;
    overflow: hidden;
}

.site .first-table h2 {
    background-color: white;
    padding: 0.8em 1em;
}

table thead th {
    border: solid #ccc;
    border-width: 1px 0;
    background: #eee;
}

table th, table td{
    padding: 0.8em 1em;
    text-align: left;
}

table tbody tr:not(:last-of-type) td {
    border-bottom: 1px solid #ccc;
}