nav {
    background-color: antiquewhite;
    padding: 5px;
}

.nav-links > li {
    color: blueviolet;
    padding: 5px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: plum;
}
