* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 2em;
}

h1 + h2 {
    padding-top: 1em;
}

h2 + .flex-container {
    display: flex;
    border: 2px solid blue;
    width: 400px;
    padding: 1em;
    margin: 1em 0;
    height: 200px;
}

.flex-item {
    background-color: #eee;
    padding: 20px;
    border: 2px solid #000;
}

h2.align-items-stretch + .flex-container {
    align-items: stretch;
}

h2.align-items-flex-start + .flex-container {
    align-items: flex-start;
}

h2.align-items-center + .flex-container {
    align-items: center;
}

h2.align-items-flex-end + .flex-container {
    align-items: flex-end;
}

h2.align-items-baseline + .flex-container {
    align-items: baseline;
}
